.upper-part {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
}

.upper-part img {
    width: 100%;
}

.menu {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.menu p {
    cursor: pointer;
    margin-inline: 20px;
    font-size: 18px;
    color: #8669ab;
    font-weight: 800;
}

.homepage-introbox {
    background-image: url('../Image/bg-image.webp');
    width: 100%;
    margin-bottom: 40px;
    background-color: #ffd3e8;
    padding: 120px 0;
    background-position: center center;
    background-repeat: no-repeat;
    height: 250px;
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    box-sizing: content-box;
}

.homepage-introbox h1 {
    font-weight: 900;
    font-size: 50px;
    margin-left: 50px;
    text-shadow: 2px 2px 2px #f5bdd9;
}

.homepage-introbox h3 {
    font-weight: 900;
    font-size: 30px;
    margin-top: -10px;
    margin-left: 50px;
    text-shadow: 2px 2px 2px #f5bdd9;
}

.homepage-introbox p {
    width: 45%;
    font-weight: 900;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 50px;
    text-shadow: 2px 2px 2px #f5bdd9;
}

.homepage-introbox button {
    margin-left: 50px;
    margin-top: 30px;
    background-color: #ff93c9;
    color: white;
    border: none;
    width: 130px;
    font-size: 17px;
    font-weight: 900;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6s;
}

.homepage-introbox button:hover {
    background-color: #f5bdd9;
    transition: 0.6s;
}

.contempt,
.text {
    text-align: center;
    color: #f971b5;
    font-weight: 900;
}

.rated {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.rated p {
    color: grey;
    margin-inline: 10px;
}

.star {
    width: 20px;
}

.customer-comment {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
    margin-top: 90px;
}

.laura,
.morganna {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.morganna {
    margin-left: 70px;
}

.laura p,
.morganna p {
    color: grey;
    font-weight: 800;
    margin-block: 10px;
}

.laura-img {
    border-radius: 100px;
}

.laure-comment {
    color: grey;
    width: 25%;
    letter-spacing: 1px;
    margin-left: 40px;
}

.tastebanner {
    background-color: #ffdded;
    
    margin-bottom: 50px;
    display: flex;
}

.second-bg {
    width: 50%;
    height: 400px;
    margin-left: -20px;
}

.pink-heart,
.pink-star,
.pink-smile {
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.pink-heart h1,
.pink-star h1,
.pink-smile h1 {
    color: #f971b5;
    font-weight: 900;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 20px;
}

.pink-heart p,
.pink-star p,
.pink-smile p {
    color: grey;
    width: 60%;
    margin-left: 20px;
    margin-top: 10px;
}

.pink-heart img,
.pink-star img,
.pink-smile img {
    width: 10%;
    height: 65px;
}

.pink-star img {
    height: 60px;
}

.pink-smile img {
    height: 70px;
}

.check {
    text-align: center;
    color: grey;
    margin-top: 20px;
    margin-bottom: 50px;
}

@media(max-width:950px) {
    .second-bg {
        width: 40%;
        height: 300px;
        margin-left: 20px;
    }

    .tastebanner {
        width: 100%;
    }

    .pink-heart,
    .pink-star,
    .pink-smile {
        display: flex;
        margin-top: 25px;
        margin-bottom: 40px;
        margin-left: 50px;
    }

    .pink-heart h1,
    .pink-star h1,
    .pink-smile h1 {
        font-size: 25px;
    }

    .pink-heart p,
    .pink-star p,
    .pink-smile p {
        width: 90%;
        font-size: 14px;
    }

    .pink-heart img,
    .pink-star img,
    .pink-smile img {
        width: 40px;
        height: 35px;
    }

    .pink-smile img {
        height: 40px;
    }

}
@media(max-width:768px) {
    .morganna p{
        font-size: 12px;
    }
    .tastebanner {
        width: 100%;
    }
  
    .pink-heart,
    .pink-star,
    .pink-smile {
        display: flex;
        margin-top: 25px;
        margin-bottom: 40px;
        margin-left: 20px;
    }

    .pink-heart h1,
    .pink-star h1,
    .pink-smile h1 {
        font-size: 20px;
        margin-left: 10px;
        margin-top: 0px;
    }
    .second-bg{
        width: 40%;
        height: 200px;
        margin-top: 70px;
    }
    .pink-heart p,
    .pink-star p,
    .pink-smile p {
        width: 70%;
        font-size: 12px;
    }

    .pink-heart img,
    .pink-star img,
    .pink-smile img {
        width: 40px;
        height: 35px;
    }

    .pink-smile img {
        height: 40px;
    }
    .laura-img{
        width: 50px;
    }
    .star{
        width: 10px;
    }
    .laura p{
        font-size: 10px;
    }

}
@media(max-width:500px) {
    .homepage-introbox h1 {
        width: 60%;
        font-size: 30px;
        margin-left: 20px;
    }
    .rated{
        margin-top: 20px;
    }
    .rated p{
        font-size: 14px;
    }
    .rated img{
        width: 10px;
    }
    .morganna{
        margin-top: 50px;
        margin-left: 0px;
    }
    .customer-comment{
        flex-direction: column;
    }
    .homepage-introbox h3 {
        width: 40%;
        font-weight: 900;
        font-size: 20px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .homepage-introbox p {
        display: none;
    }

    .homepage-introbox button{
        width: 100px;
        font-size: 14px;
        padding-block: 5px;
        margin-left: 20px;
    }
    .homepage-introbox {
        background-size: cover;
        height: 150px;
        padding: 100px 0;

    }

    .menu p {
        font-size: 14px;
        margin-inline: 10px;
    }

    .second-bg {
        width: 80%;
        height: 300px;
        margin-left: 50px;
    }

    .tastebanner {
        width: 100%;
    }

    .pink-heart,
    .pink-star,
    .pink-smile {
        display: flex;
        margin-top: 25px;
        margin-bottom: 40px;
        margin-left: 50px;
    }

    .pink-heart h1,
    .pink-star h1,
    .pink-smile h1 {
        font-size: 25px;
    }

    .pink-heart p,
    .pink-star p,
    .pink-smile p {
        width: 80%;
        font-size: 14px;
    }

    .pink-heart img,
    .pink-star img,
    .pink-smile img {
        width: 20%;
        height: 45px;
    }

    .pink-smile img {
        height: 55px;
    }
    .tastebanner{
        flex-direction: column;
    }

}
@media(max-width:320px) {
    .homepage-introbox h1 {
        width: 300px;
        font-size: 30px;
        margin-left: 20px;
    }
    .menu p{
        font-size: 7px;
    }
    .rated{
        margin-top: 20px;
    }
    .rated p{
        font-size: 8px;
    }
    .rated img{
        width: 10px;
    }
    .morganna{
        margin-top: 50px;
        margin-left: 0px;
    }
    .customer-comment{
        flex-direction: column;
    }

    .homepage-introbox p {
        display: none;
    }

    .homepage-introbox button{
        width: 100px;
        font-size: 14px;
        padding-block: 5px;
        margin-left: 20px;
    }
    .homepage-introbox {
        background-size: cover;
        height: 150px;
        padding: 100px 0;

    }

    .second-bg {
        width: 250px;
        height: 180px;
        margin-left: 50px;
    }

    .tastebanner {
        width: 100%;
    }

    .pink-heart,
    .pink-star,
    .pink-smile {
        display: flex;
        margin-top: 25px;
        margin-bottom: 40px;
        margin-left: 10px;
    }

    .pink-heart h1,
    .pink-star h1,
    .pink-smile h1 {
        font-size: 15px;
    }

    .pink-heart p,
    .pink-star p,
    .pink-smile p {
        width: 250px;
        font-size: 10px;
    }

    .pink-heart img,
    .pink-star img,
    .pink-smile img {
        width: 40px;
        height: 35px;
    }
    .contempt{
        font-size: 20px;
    }
    .pink-smile img {
        height: 40px;
    }
    .tastebanner{
        flex-direction: column;
    }
    .text{
        font-size: 20px;
    }
    .check{
        font-size: 12px;
        width: 300px;
    }
}