.footer {
    height: 470px;
    background-color: #ff7abc;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: 80px;
}

.footer-first-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    margin-top: 50px;
}
.footer-first-column h4{
    font-size: 20px;
}
.footer-first-column a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-top: 15px;
    font-weight: 200;
}
.email-input{
    margin-top: 15px;
    height: 40px;
    border: none;
    width: 280px;
    padding-left: 10px;
    border-radius: 50px;
}
.email-input:focus{
    outline: none;
}
.footer-first-column p{
    margin-top: 20px;
    font-size: 18px;
    width: 250px;
}
.last-p{
    position: absolute;
    left: 50px;
    bottom: 30px;
    color: white;
    font-size: 14px;
}
@media(max-width:950px){
    .footer-first-column a{
        font-size: 14px;
    }
}
@media(max-width:768px){
    .footer-first-column a{
        font-size: 14px;
    }
    .footer{
        width: 760px;
    }
}
@media(max-width:500px){
    .footer{
        flex-direction: column;
        height: 1000px;
        padding-left: 30px;
        padding-bottom: 50px;
        width: 100%;
    }
    .email-input{
        width: 400px;
    }
    .footer-first-column p{
        width: 400px;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .last-p{
        bottom: 20px;
        width: 400px;
        left: 28px;
        font-size: 12px;
    }
}
@media(max-width:320px){
    .footer{
        flex-direction: column;
        height: 1000px;
        padding-left: 30px;
        padding-bottom: 50px;
    }
    .email-input{
        width: 250px;
    }
    .footer-first-column p{
        width: 280px;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .last-p{
        bottom: 20px;
        width: 280px;
        left: 28px;
        font-size: 12px;
    }
}